body {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

p {
  font-size: 0.7em;
  color: #4c4c4c;
}

p.score {
  display: inline-block;
  padding: 0.1em 0.3em;

  color: #faf8ef;
  background-color: gray;
  border-radius: 0.2em;
}

table {
  margin: 0 auto;
  table-layout: fixed;
  width: 8em;
  height: 7em;
  line-height: 0.9em;
  border : gray 7px solid;
  border-radius: 6px;
  
  border-spacing : 0px;
}

td {
  border : gray 7px solid;

  width: 2em;
  height: 2em;
  padding: 0.6em;
  margin: 0;
  
  text-align : center;
  vertical-align : middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

  background-color: #faf8ef;
}

td.number {
  color: #776e65;
}